.iconGuidelineLargeIcon::before {
  font-size: 110px;
}

.iconGuidelineLargeIcon {
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background-color: #f0f0f0;
  width: 100%;
  height: 20vw;
  margin-bottom: 28px;
  @media(max-width: 1024px) {
    height: 18vw;
  }
  @media(max-width: 768px) {
    height: 30vw;
  }
  @media(max-width: 425px) {
    height: 85vw;
  }
}

.iconGuidelinesSmallIcons {
  height: 15vw;
  @media(max-width: 1024px) {
    height: 12vw;
  }
  @media(max-width: 768px) {
    height: 20vw;
  }
  @media(max-width: 425px) {
    height: 85vw;
  }
}

.iconGuidelinePinkBG {
  background-color: #FCF1EC;
}

.iconGuidelineLargeIconRowContainer {
  max-width: 65vw;
  align-items: flex-start;
  margin-left: 32px;
  @media(max-width: 768px) {
    max-width: 95vw;
    margin-left: 0;
  }
  @media(max-width: 425px) {
  flex-direction: column;
  max-width: 100vw;
  margin-left: 0;
  padding: 0;
  p {
    width: 100%;
  }
  }
  h4 {
    text-align: left;
    margin-top: 0;
    width: 100%;
    // font-size: 24px;
  }
}

.iconGuidelineLargeIconContainer {
  width: 100%;
  height: 100%;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  margin: 44px 12px 0 12px;
  padding:0;
  @media(max-width: 425px) {
   margin: 0 0 44px 0;
  }
}