// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-margin-bottom;
  color: $headings-color;
}

h1, .h1 { 
  font-size: $h1-font-size; 
  font-family: "Vattenfall Hall Display";
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.2px;
}
h2, .h2 { 
  font-size: $h2-font-size;
  font-family: "Vattenfall Hall Display";
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.2px;
}
h3, .h3 { 
  font-size: $h3-font-size; 
  font-family: "Vattenfall Hall Display";
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.2px;
}
h4, .h4 { 
  font-family: $headings-font-family;
  font-weight: 400;
  font-size: $h4-font-size;
  line-height: 1.33;
  font-weight: 500;
}
h5, .h5 { 
  font-family: $headings-font-family;
  font-weight: 500;
  line-height: 1.33;
  font-size: $h5-font-size;
}
h6, .h6 { 
  font-family: $headings-font-family;
  font-weight: 500;
  line-height: 1.33;
  font-size: $h6-font-size;
}

.vf-preamble {
  font-size: 1.5rem;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
}

.vf-lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}

// Type display classes
.display-1 {
  font-size: $display1-size;
  font-weight: $display1-weight;
  line-height: $display-line-height;
}
.display-2 {
  font-size: $display2-size;
  font-weight: $display2-weight;
  line-height: $display-line-height;
}
.display-3 {
  font-size: $display3-size;
  font-weight: $display3-weight;
  line-height: $display-line-height;
}
.display-4 {
  font-size: $display4-size;
  font-weight: $display4-weight;
  line-height: $display-line-height;
}


//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Lists
//

.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//

// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
}

.blockquote-footer {
  display: block;
  font-size: $blockquote-small-font-size;
  color: $blockquote-small-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}

p {
  font-size: 1.25rem;
}


.intro-in-caps {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
}

.intro-in-caps--small {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.vf-text--small {
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: -0.1px;
}

.vf-weight--500 {
  font-weight: 500;
}