// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Mixins
//

@mixin typo-preamble {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;

  @include media-breakpoint-up(sm) {
    font-size: 1.5rem;
    line-height: 1.67;
  }  
}

@mixin typo-primary {
  font-size: $h1-font-size; 
  font-family: "Vattenfall Hall Display";
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: -0.2px;
}

@mixin typo-secondary {
  font-size: $h2-font-size;
  font-family: "Vattenfall Hall Display";
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.2px;
}

@mixin typo-tetriary {
  font-size: $h3-font-size; 
  font-family: "Vattenfall Hall Display";
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.2px;
}

@mixin typo-quaternary {
  font-family: $headings-font-family;
  font-weight: 400;
  font-size: $h4-font-size;
  line-height: 1.33;
  font-weight: 500;
}

@mixin typo-paragraph-primary-desktop {
  font-size: 20px;
  letter-spacing: 0;
  line-height: 36px;
}

@mixin typo-paragraph-primary-mobile {
  font-size: 16px;
  letter-spacing: -0.05px;
  line-height: 28px;
}

@mixin typo-paragraph-primary {
  @include typo-paragraph-primary-mobile();
  
  @include media-breakpoint-up(sm) {
    @include typo-paragraph-primary-desktop();
  }
}

@mixin typo-paragraph-secondary-desktop {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.05px;
}

@mixin typo-paragraph-secondary-mobile {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.1px;
}

@mixin typo-paragraph-secondary {
  @include typo-paragraph-secondary-mobile();
  
  @include media-breakpoint-up(sm) {
    @include typo-paragraph-secondary-desktop();
  }
}

@mixin typo-intro-in-caps {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;

  @include media-breakpoint-up(sm) {
    font-size: 16px;
    line-height: 36px;
  }
}

@mixin typo-intro-in-caps-small {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 2px;
}

@mixin typo-quote-mobile {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 40px;
}

@mixin typo-quote-desktop {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -0.15px;
  line-height: 60px;
}

//
// Headings
//


h1, h2, h3, h4 {
  margin-bottom: $headings-margin-bottom;
  color: $headings-color;
}

h1 { 
  @include typo-primary();
}
h2 { 
  @include typo-secondary();
}
h3 { 
  @include typo-tetriary();
}
h4 {
  @include typo-quaternary() 
}


//
// Horizontal rules
//

hr {
  margin-top: $hr-margin-y;
  margin-bottom: $hr-margin-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


//
// Emphasis
//

small,
.small {
  font-size: $small-font-size;
  font-weight: $font-weight-normal;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


//
// Lists
//

.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
.list-inline {
  @include list-unstyled;
}
.list-inline-item {
  display: inline-block;

  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}


//
// Misc
//

// Blockquotes
.blockquote {
  margin-bottom: $spacer;
  font-size: $blockquote-font-size;
}

.blockquote-footer {
  display: block;
  font-size: $blockquote-small-font-size;
  color: $blockquote-small-color;

  &::before {
    content: "\2014\00A0"; // em dash, nbsp
  }
}

p {
  @include typo-paragraph-primary();
}

@if $enable-typography-classes {
  .vf-typo-primary {
    @include typo-primary();
  }

  .vf-preamble {
    @include typo-preamble();
  }
  
  .vf-typo-primary { 
    @include typo-primary();
  }
  .vf-typo-secondary { 
    @include typo-secondary();
  }
  .vf-typo-tetriary { 
    @include typo-tetriary();
  }
  .vf-typo-quaternary {
    @include typo-quaternary() 
  }

  .vf-typo-p, 
  .vf-typo-p-primary {
    @include typo-paragraph-primary();
  }

  .vf-typo-p-secondary {
    @include typo-paragraph-secondary();
  }

  .vf-intro-in-caps {
    @include typo-intro-in-caps();
  }

  .vf-intro-in-caps-small {
    @include typo-intro-in-caps-small();
  }
}
