@at-root {
  @-ms-viewport { width: device-width; } // stylelint-disable-line at-rule-no-vendor-prefix
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "functions";
@import "variables";
@import "mixins";

@import "fonts";
@import "sizes";

@import "grid";

@import "utilities/display";
@import "utilities/flex";
@import "utilities/spacing";

@import "components/hero";
@import "components/blockquote";
@import "components/button";

