@import '../../scss/variables';

// stylelint-disable declaration-no-important, selector-list-comma-newline-after

@mixin headline-base {
  font-family: 'Vattenfall Hall Display NORDx', Helvetica, sans-serif;
  font-weight: 600;
}

//
// Breakpoints
//  sm: 540px,
//  md: 600px,
//  lg: 774px,
//  xl: 960px
//

//
// Mixins
//

@mixin typo-preamble {
  font-size: $font-size-lg;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 36px;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-xl;
    line-height: 40px;
  }
}

//
// h1 - headline primary
//

@mixin typo-primary {
  @include headline-base();
  letter-spacing: 0;
  font-size: 52px;
  line-height: 62px;

  @media (max-width: 540px) {
    font-size: 34px;
    line-height: 40px;
  }
}

//
// h2 - headline secondary
//

@mixin typo-secondary {
  @include headline-base();
  letter-spacing: 0;
  font-size: 36px;
  line-height: 42px;

  @media (max-width: 540px) {
    font-size: 28px;
    line-height: 32px;
  }
}

//
// h3 - headline tetriary
//

@mixin typo-tetriary {
  @include headline-base();
  letter-spacing: 0;
  font-size: 28px;
  line-height: 36px;

  @media (max-width: 540px) {
    font-size: 22px;
    line-height: 28px;
  }
}

//
// h4 - headline quarternary
//

@mixin typo-quaternary {
 @include headline-base();
  letter-spacing: 0;
  font-size: 22px;
  line-height: 28px;

  @media (max-width: 540px) {
    font-size: 18px;
    line-height: 24px;
  }
}

@mixin typo-paragraph-primary-desktop {
  font-family: $font-family-sans-serif;
  font-size: $font-size-lg;
  letter-spacing: 0;
  line-height: 36px;
}

@mixin typo-paragraph-primary-mobile {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  letter-spacing: -0.05px;
  line-height: 28px;
  font-weight: normal;
}

@mixin typo-paragraph-primary {
  @include typo-paragraph-primary-mobile();

  @include media-breakpoint-up(sm) {
    @include typo-paragraph-primary-desktop();
  }
}

@mixin typo-paragraph-secondary-desktop {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.05px;
}

@mixin typo-paragraph-secondary-mobile {
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.1px;
}

@mixin typo-paragraph-secondary {
  @include typo-paragraph-secondary-mobile();

  @include media-breakpoint-up(sm) {
    @include typo-paragraph-secondary-desktop();
  }
}

@mixin typo-intro-in-caps {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 22px;

  @include media-breakpoint-up(sm) {
    font-size: 16px;
    line-height: 36px;
  }
}

@mixin typo-intro-in-caps-small {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 2px;
}

@mixin typo-quote-mobile {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 40px;
}

@mixin typo-quote-desktop {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: -0.15px;
  line-height: 60px;
}
