.bodyTextLarge {
  width: 744px;
  height: 36px;
  font-size: 20px;
  font-family: "Vattenfall Hall NORDx";
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 36px;
}

.elementSpecifications {
  p {
    margin-bottom: 8px;
  }
}