.container {
  margin: 0 170px 200px 40px;
  @media(max-width: 999px) {
    margin: 0 10px 0 20px;
  }

  .section {
    margin-top: 48px;
    a {
      display: block;
      //margin-left: 48px;
      margin-top: 24px;

    }

  }
}
