.guidelinesContainer {
  margin: 0 170px 0 40px;
  @media(max-width: 999px) {
    margin: 0 10px 0 20px;
  }
}


.guidelinesHeader {
  margin-bottom: 40px;
}

.guidelinesText {
  margin-bottom: 60px;
}

.yellowButtonHover {
  color: #111111;
  background: #FFE85B;
  &:before {
    opacity: 1;
    transform: translate(-150%, 0);
  }
}

.yellowButtonActive {
  composes: yellowButtonHover;
  background:#F1C50B;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 218, 0, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(255, 218, 0, 0.25);
}

.blueButtonHover {
  color: #111111;
  background: #FFE85B;
  &:before {
    opacity: 1;
    transform: translate(-150%, 0);
  }
}
