.container {
  width: 100%;
  height: calc(100vh - 64px);
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: scroll;
  top: 64px;
  -webkit-transition: -webkit-transform .3s cubic-bezier(.78,.14,.15,.86);
  transition: -webkit-transform .3s cubic-bezier(.78,.14,.15,.86);
  transition: transform .3s cubic-bezier(.78,.14,.15,.86);
  transition: transform .3s cubic-bezier(.78,.14,.15,.86),-webkit-transform .3s cubic-bezier(.78,.14,.15,.86);
  &.drawerOpen {
      @media(max-width: 999px) {
        transform: translateX(250px);
      }
    .hamburger {
      display: none;
    }
  }
}

.hamburger {

}

.innerContainer {
  box-sizing: border-box;
  display: flex;
  font-family: "Vattenfall Hall";
  min-height: 100vh;
  line-height: 32px;
  width: 90%;
  flex-direction: column;
  position: relative;
  z-index: 0;
  padding-left: 251px;
  padding-top: 100px;

  @media(max-width: 999px) {
    width: 100%;
    padding-left: 32px;
    padding-top: 32px;
  }
}