.startPageHero {
  position: relative;
  text-align: center;
  color: white;
  .videoContainer {
    min-width: 100%;
    max-height: 488px;
    video {
      width: 100%;
      max-height: 488px;
      object-fit: cover;

    }
  }



  .signUpContainer {
    position: absolute;
    top: 40px;
    right: 40px;

    @media(max-width: 767px) {
      padding-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }


  .bigHeroImage {
    width: 100%;
    height: 488px;
  }

  .logo {
    position: absolute;
    bottom: -29%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1 {
    width: 100%;
    color: white !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }
}

.introText {
  display: flex;
  margin-top: 142px;

  div {
    margin-bottom: 56px;
    flex: 1;
    line-height: 23px;
  }

  div:first-child {
    padding-left: 202px;
    padding-right: 12px;

  }

  div:nth-child(2) {
    padding-right: 202px;
    padding-left: 12px;

  }

}

.buttonContainer {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.border {
  margin-top: 125px;
  border: 1px solid rgb(224, 224, 224);
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  width: 936px;
}

.brandStyleGuideContainer {
  margin-top: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 154px;
  width: 936px;
  line-height: 23px;

  .header {
    font-weight: bold;
  }

}
