
body {
  font-family: sans-serif;
  padding: 1em;
}

a {
  text-decoration: none;
}
.divider {
  z-index: 999999;
  border: 1px solid #d3d3d3c4;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modalContainer {
  position: fixed;
  top: 52%;
  left: 50%;
  border: 1px solid black;
  transform: translate(-50%, -50%);
  z-index: 1;
  padding: 20px;
  background-color: white;

  .buttonContainer {
    display: flex;
    justify-content: space-around;
    background-color: white;
  }

  .border {
    border: 1px solid;
  }


  .modalContent {
    background-color: white;
    height: auto; // set to auto?
    display: flex;
    //  flex-direction: column;
    width: auto;
    justify-content: space-between;

    form {
      display: flex;
      flex-direction: row;

      span {
        margin-top: -10px;
      }

      label {
        margin-bottom: 6px;
      }

      input {
        margin-bottom: 10px;

      }
      .childModal {
        margin-right: 20px;
      }
      .textInformation {
        display: flex;
        flex-direction: column;


      }

      .radioButtonsContainer {
        display: flex;
        flex-direction: column;
        //border: 1px solid black;
        label {

          font-weight: normal;
        }

        .radioButtons {
          display: flex;

          .group {
            margin-right: 10px;

            label {
              margin-left: 3px;
              font-weight: normal;
            }
          }

        }
      }

      .supportInformation {
        display: flex;
        flex-direction: column;

        .supportItem {

          display: flex;
          flex-direction: column;

          .headerTitle {
            text-transform: capitalize;
          }


        }

        .regionSupportContainer {
          // border: 1px solid black;
        }
      }

      label {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 4px;
        line-height: 14px;
      }

      textarea {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 6px;

      }
    }

  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.5;
}


.tableContainer {
  margin: 30px;

  .topContainer {
    display: flex;
    justify-content: space-between;
  }

  .legend {
    font-size: 0.8rem;
    margin-bottom: 18px;
    display: flex;

    > div {
      flex-direction: column;
    }

  }

  .legendText {
    color: rgb(0, 0, 0);
    font-family: "VattenfallHall-Regular", Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.04px;
  }

  .circleContainer {
    display: flex;
    align-items: center;
    margin-right: 40px;

    // the circle
    div:first-child {
      margin-right: 8px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: inline;
    }
  }

  .circleTD {
    display: flex;
    justify-content: center;
    border: none;

    //circle in table
    div:first-child {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: inline;
    }

    //design circle
    .designLink {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      display: inline;
      background-color: #3dc07c;

      &:hover {
        width: 18px !important;
        height: 18px !important;;
        top: 2px !important;;
        position: absolute !important;;
      }
    }
  }

  .unknown {
    background-color: #e6e6e6;
  }

  .awaitingReview {
    background-image: linear-gradient(
                    to top left,
                    #ffda01 50%,
                    #e6e6e6 50%
    );
  }

  .inReview {
    background-color: #ffda01;
  }

  .canBeUsedIf {
    background-image: linear-gradient(
                    to top left,
                    #3dc07c 50%,
                    #ffda01 50%
    );
  }

  .canBeUsed {
    background-color: #3dc07c;
  }

  .canBeUsedSoon {
    background-image: linear-gradient(
                    to top left,
                    #E6652B 50%,
                    #3dc07c 50%
    );
  }


  table {
    font-family: 'Vattenfall Hall', Helvetica, sans-serif;
    line-height: normal;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid rgb(223, 226, 229);

    tr, td, th {
      padding: 0.3rem;
      border: 1px solid rgb(223, 226, 229);
      word-wrap: break-word;
    }

    tr:nth-child(even) {
      background: #F6F8FA
    }

    thead {
      text-align: center;

      .tableHeader {
        color: rgb(0, 0, 0);
        font-family: "Vattenfall Hall Bold NORDx", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        height: 20px;
        letter-spacing: -0.05px;
        text-align: center;


        //1 & child.
        th:nth-child(-n+2) {
          height: 60px;
        }

        // 3-5 child
        th:nth-child(n+3):nth-child(-n+5) {
          height: 40px;
        }

        // 6-8 child. Logos
        th:nth-child(n+6):nth-child(-n+8) {
          width: 80px;

          img {
            height: 35px;
            width: auto;

          }
        }

        // read more text cell
        th:last-child {
          font-size: 12px;
          font-weight: bold;
          height: 60px;
          width: 80px;
          letter-spacing: -0.04px;
          text-align: center;
        }
      }

      //global/region cell
      tr:nth-child(2) th {
        height: 20px;
        color: rgb(0, 0, 0);
        font-size: 12px;
        font-weight: bold;
        letter-spacing: -0.04px;
        background: white;
      }
    }

    // parent row
    .row {
      td {
        height: 42px;
      }

      cursor: pointer;

      //Target 1 & 2 child.
      // Component name & guideline text
      td:nth-child(-n+2) {
        padding-left: 16px;
      }

      a {
        color: rgb(0, 0, 0);
        font-family: "VattenfallHall-Regular", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: -0.05px;

        &:hover {
          color: rgb(0, 93, 141);
          text-decoration: none !important;

        }
      }

      .count {
        text-align: center;
        font-family: "VattenfallHall-Regular", Helvetica, sans-serif;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: -0.05px;
      }

      .isOpen {
        a {
          color: rgb(0, 93, 141);
        }
      }

      //open close button/expand row
      .expand {
        cursor: pointer;
        text-align: center;

        img:first-child {
          height: 15px;
          width: auto;
        }
      }
    }

    .editIcon {
      height: 12px;
      margin-right: 4px;
      width: 12px;
      align-self: center;
      cursor: pointer;
    }

    .nameContainer {
      display: flex;
      justify-content: space-between;
    }

    .expandedRow {
      font-size: 0.7rem;
      line-height: normal;
      padding-left: 28px;


      // component name
      .nameContainer:first-child {
        padding-left: 28px;
        font-size: 0.8rem;
        line-height: normal;
        text-align: left;
      }

      //Guideline text
      td:nth-child(2) {
        padding-left: 16px;
      }

      .nameContainer > a {
        color: rgb(0, 0, 0);
        font-family: "VattenfallHall-Regular", Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;

        &:hover {
          color: rgb(0, 93, 141);
          text-decoration: none !important;


        }
      }


    }

    tfoot {
      // total components text
      tr > td:first-child {
        font-family: "Vattenfall Hall Bold NORDx", Helvetica, sans-serif;
        padding-left: 16px;
        padding-top: 0.3rem;
        height: 42px;
        padding-bottom: 0.3rem;
        font-size: 16px;
        font-weight: 700;
        text-align: left;
      }

      tr > td:nth-child(n+2) {
        font-family: "VattenfallHall-Regular", Helvetica, sans-serif;

      }

      text-align: center;
    }
  }
}






