.container {
  margin: 0 170px 0 40px;
  @media(max-width: 999px) {
    margin: 0 10px 0 20px;
  }
  p {
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-letter-spacing: normal;
    -moz-letter-spacing: normal;
    -ms-letter-spacing: normal;
    letter-spacing: normal;
    color: #222222;
    font-family: Vattenfall Hall;
    font-size: 1rem;
    line-height: 1.44;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin: 16px 0 24px 0;
  }
}