.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem 20px;
  clear: left;
  
  h2 {
    text-align: center;
    &:first-of-type {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }
  }
  h3 {
    padding-top: 3rem;
  }
  img {
    max-width: 100%;
  }
}