.container {
  box-sizing: border-box;
  position: relative;
  height: 140px;
  min-height: 140px;
  background: transparent;
}

.innerContainer {
  position: absolute;
  bottom: 21px;

  h1 {
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    letter-spacing: normal;
    color: rgb(34, 34, 34);
    font-family: "Vattenfall Hall NORDx", "Vattenfall Hall";
    font-size: 48px;
    line-height: 1.2;
    position: relative;
  }
}
