@import "../../scss/variables";

// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.vf-btn {
  display: inline-block;
  font-weight: 500;
  color: $body-color;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  font-family: 'Vattenfall Hall NORDx';

  padding: 9px 48px;
  font-size: 0.875rem;
  line-height: 18px;
  border-radius: 20px;

  @include transition($btn-transition);
  min-width: 180px;
  position: relative;

  &:before {
    content: '\2192';
    position: absolute;
    transform-origin: top left;
    transform: translate(-220%, 0);
    font-weight: normal;
    font-size: $font-size-lg;
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-delay: 0ms;
  }

  &:hover:before {
    transition-delay: 150ms;
    transform: translate(-150%, 0);
    opacity: 1;
  }

  // Share hover and focus styles
  @include hover-focus {
    color: $body-color;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;

    @include box-shadow($btn-focus-box-shadow);
    //box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    opacity: $btn-disabled-opacity;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .vf-btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.vf-btn.disabled,
fieldset:disabled a.vf-btn {
  pointer-events: none;
}


.vf-btn--primary {
  color: $btn-primary-color;
  background: $btn-primary-bg;

  @include hover {
    color: $btn-primary-color;
    background: $btn-primary-bg-hover;
  }

  &:focus,
  &.focus {
    background: $btn-primary-bg-focus;
  }

  &.disabled,
  &:disabled {
    color: $btn-primary-color-disabled;
    background-color: $btn-primary-bg-disabled;
  }
}

.vf-btn--secondary {
  color: $white;
  background: $btn-secondary-bg;

  @include hover {
    color: white;
    background: $btn-secondary-bg-hover;
  }

  &:focus,
  &:active,
  &.focus {
    color: white;
    background: $btn-secondary-bg-focus;
  }

  &.disabled,
  &:disabled {
    color: $btn-secondary-color-disabled;
    background-color: $btn-secondary-bg-disabled;
  }
}

.vf-btn--tertiary {
  color: $btn-tertiary-color;
  background: $btn-tertiary-bg;
  border: 2px $btn-tertiary-border solid;

  @include hover {
    color: $white;
    background: $btn-tertiary-bg-hover;
    border-color: $btn-tertiary-border-hover;
  }

  &:focus,
  &:active,
  &.focus {
    color: $white;
    background: $btn-tertiary-bg-focus;
    border-color: $btn-tertiary-border-focus;
  }

  &.disabled,
  &:disabled {
    color: $btn-tertiary-color-disabled;
    background-color: $btn-tertiary-bg-disabled ;
    border-color: $btn-tertiary-border-disabled;
  }

}

.vf-btn--outline-secondary {
  color: $btn-outline-secondary-color;
  background: $btn-outline-secondary-bg;
  border: 2px $btn-outline-secondary-border;

  @include hover {
    color: $white;
    background: $btn-outline-secondary-bg-hover;
    border-color: $btn-outline-secondary-border-hover;
  }

  &:focus,
  &:active,
  &.focus {
    color: $white;
    background: $btn-outline-secondary-bg-focus;
    border-color: $btn-outline-secondary-border-focus;
  }

  &.disabled,
  &:disabled {
    color: $btn-outline-secondary-color-disabled;
    background-color: $btn-outline-secondary-bg-disabled;
    border-color: $btn-outline-secondary-border-disabled;
  }
}

.vf-btn--outline-dark {
  color: $btn-outline-dark-color;
  background: $btn-outline-dark-bg;
  border: 2px $btn-outline-dark-border solid;

  @include hover {
    color: $white;
    background: $btn-outline-dark-bg-hover;
    border-color: $btn-outline-dark-border-hover;
  }

  &:focus,
  &:active,
  &.focus {
    color: $white;
    background: $btn-outline-dark-bg-focus;
    border-color: $btn-outline-dark-border-focus;
  }

  &.disabled,
  &:disabled {
    color: $btn-outline-dark-color-disabled;
    background-color: $btn-outline-dark-bg-disabled;
    border-color: $btn-outline-dark-border-disabled;
  }
}

//
// Button Sizes
//

.vf-btn--lg {
  padding: 12px 48px;
  font-size: $font-size-md;
  line-height: 24px;
  border-radius: 26px;
  min-width: 240px;

  &:before {
    font-size: $font-size-xl;
    transform: translate(-220%, 0);
  }

  &:hover:before {
    transform: translate(-150%, 0);
  }
}

.vf-link-with-arrow {
  display: inline-block;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
  position: relative;

  @include typo-paragraph-primary();
  font-weight: 500;
  color: $dark;

  &:before {
    content: '\2192';

    position: absolute;
    top: 0;
    left: 0;

    font-size: 1.75rem;
    font-weight: normal;
    color: $vattenfall-mid-blue;

    transition-property: opacity, transform;
    transition-duration: 300ms;
    transition-delay: 0ms;
  }

  &:hover:before {
    color: $vattenfall-mid-blue;
    transform: translate(40%, 0);
  }

  &:active:before {
    color: $vattenfall-dark-blue;
  }

  // For the arrow
  padding-left: 35px;

  @include hover {
    color: $vattenfall-mid-blue;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    text-decoration: none;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
    pointer-events: none;
  }

  &:active {
    color: $vattenfall-dark-blue;
    text-decoration: none;
  }
}
  .vf-link-with-arrow--small {
    font-size: $font-size-base;
  }

//
// Block button
//

.vf-btn--block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .vf-btn--block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.vf-btn--block {
    width: 100%;
  }
}
