.vf-footer {
  padding-top: $spacing-xl;
  padding-bottom: $spacing-xl;
  background: $vattenfall-light-turquoise;

  a {
    color: $dark;
  }

  p {
    @include typo-paragraph-secondary();
  }

  h4 {
    @include typo-paragraph-primary();
    font-weight: 500;
  }
}

  .vf-footer__nav {
  }
    .vf-footer__nav-item {
      display: block;
      padding: 0.5rem 0;
      color: $dark;
      @include typo-paragraph-primary();
      font-weight: 500;
    }

  .vf-footer__social-links {
    text-align: right;
  }

  .vf-footer__social-link {
    width: 28px;
    margin: 18px 0 18px 35px;
  }