.vf-footer {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: $vattenfall-light-turquoise;

  a {
    color: $dark;
  }

  p {
    @include typo-paragraph-secondary();
  }

  h4 {
    @include typo-paragraph-primary();
  }
}

  .vf-footer__nav {
  }
    .vf-footer__nav-item {
      display: block;
      padding: 0.5rem 0;
      color: $dark;
      font-weight: 500;
      @include typo-paragraph-primary();
    
    }

  .vf-footer__social-links {
    text-align: right;
  }

  .vf-footer__social-link {
    width: 28px;
    margin: 18px 36px 18px 0;
  }