.vf-hero {
  // position: relative;
  background: $vattenfall-blue-grey;
  background-size: cover;
  background-position: center center;
  
  @include media-breakpoint-up(sm) {
    min-height: 600px;
    padding-top: 125px;
  }

  @include media-breakpoint-down(sm) {
    border-left: 21px white solid;
    border-right: 21px white solid;
    font-size: 44px;
    height: 370px;
    min-height: 370px;
  }
}

.vf-hero__headline {
  @include media-breakpoint-down(sm) {
    font-size: 36px;
    max-width: 87%;
    margin: 0 auto;
    padding-bottom: 20px;
  }
}