.vf-hero {
  position: relative;
  background-size: cover;
  background-position: center center;
  margin: 0 auto;
  width: 100%;
  max-width: $bleed-container-max-width + 20px; // To add the borders
  border-left: 20px white solid;
  border-right: 20px white solid;
  height: 60vh;
 
  @include media-breakpoint-down(md) {
    border-left: 30px white solid;
    border-right: 30px white solid;
  }
 
  @include media-breakpoint-down(sm) {
    font-size: 2.75rem;
    height: 460px;
    min-height: 370px;
 
    border-left: 20px white solid;
    border-right: 20px white solid;
  }
}

.vf-hero--startpage {
  min-height: 368px;
  max-height: 600px;
  @include media-breakpoint-down(sm) {
    max-height: 368px;
  } 
}

.vf-hero--oneline {
  height: 310px;
  border: none;
  @include media-breakpoint-down(sm) {
    height: 302px;
  } 
}
 
.vf-hero--twoline-button {
  height: 388px;
}
 
.vf-hero--twoline {
  height: 310px;
}

.vf-hero-intro-buttons {
  height: 670px;
  background: none;
}

.vf-hero__vf_logo_vertical {
  position: absolute;
  bottom: -80px;
}

.vf-hero__text-intro-buttons {
  width: 100%;
  height: auto;
  position: unset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 40px 0;
}
 
.vf-hero__content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include typo-paragraph-secondary-mobile();
  @include media-breakpoint-up(sm) {
    @include typo-paragraph-primary-desktop();
  }
  color: white; 
  span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    width: 200px;
    height: 100px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
    line-height: 36px;
    cursor: pointer;
    img {
      margin-right: 8px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
}
 
.vf-hero__two-buttons {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
    width: 100%;
  }
}
 
.vf-hero__headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: 0px;  
  line-height: 84px;
  text-align: center;
  width: 744px;
  color: $white;
  margin: 0 auto;
  max-width: 90%;
  padding-bottom: 32px;
  @include media-breakpoint-down(md) {
    font-size: 60px;
    line-height: 75px;
    width: 600px;
  }
  @include media-breakpoint-down(sm) {
    letter-spacing: 0px;
    line-height: 48px;
    font-size: 44px;
    width: 300px;
  }
}

.vf-video-btn-headline {
  padding-bottom: 0;
}
 
.vf-hero__paragraph {
  color: rgb(0, 0, 0);
  font-weight: 500;
  letter-spacing: 0px;
  text-align: center;
  min-width: 300px;
  max-width: 744px;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px;
  @include media-breakpoint-down(sm) {
    font-size: 20px;
    line-height: 28px;
  }
}
 
.vf-hero__text-buttons {
  position: relative;
}
