#vf-icon-example {
    span {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    span::before {
        margin-right: 8px;
    }
    
}

// #content-container > div > div.index__container___3_kmB.markdown-body > p:nth-child(21) {
//     margin-bottom: 100px;
// }