.vf-media-block {
  background: $vattenfall-light-blue;
  @include make-container-bleed();

  @include media-breakpoint-up(md) {
    max-height: 488px;
    margin-bottom: 188px;
  }
}

.vf-container .vf-media-block {
  
}

.vf-media-block__body {
  @include make-container();
  @include make-container-max-widths();
  display: flex;
  flex-wrap: wrap;

  margin-top: 90px;

  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}

.vf-media-block__media {
  @include make-col-ready();
  margin-top: -90px;
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(md) {
    @include make-col(6);
    margin-top: 0;
    padding-top: 88px;
  }

  @include media-breakpoint-up(lg) {
    @include make-col(8);
  }

  img {
    width: 100%;
  }
}

.vf-media-block__content {
  @include make-col-ready();
  padding-top: 35px;
  padding-bottom: 35px;

  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(md) {
    @include make-col(6);
    order: -1;

    padding-top: 88px;
  }

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
  @include media-breakpoint-up(xl) {
    padding-right: 110px;
  }
}

.vf-media-block__title {}
.vf-media-block__text, .vf-media-block__text p {
  @include typo-paragraph-primary-mobile();
  
  @include media-breakpoint-up(md) {
    @include typo-paragraph-secondary-desktop();
  }
  margin-bottom: 1rem;
}

// Styles for reversed mode (image on the left on desktop)
.vf-media-block--reversed {

  .vf-media-block__content {
    order: 1 !important;

    @include media-breakpoint-up(xl) {
      padding-left: 110px;
      padding-right: 0;
    }  
  }

}