/* default mobile */
.vf-navigation__default {
  background: #fff;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  height: 56px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
.vf-navigation__default span {
  margin: 0;
  cursor: pointer;
}

.vf-navigation__default span:before {
  font-size: 20px;
}

.vf-navigation__default-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.vf-navigation__default-inner span {
  padding: 18px;
}
.vf-navigation__default-inner .vf-icon-globe {
  display: none;
}

.vf-logo__navigation {
  height: 56px;
}

.vf-navigation__menu-level-1 {
  border-top: 1px solid #dcdddc;
  border-bottom: 1px solid #dcdddc;
  list-style: none;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
  display: none;
}
.vf-navigation__menu-level-1 > a {
  display: none;
}
.vf-navigation__menu-level-1 > a > img {
  display: none;
}
.vf-navigation__menu-level-1 > span {
  display: none;
}

.vf-navigation__menu-level-1 li div {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
}
.vf-navigation__menu-level-1 li div a {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: black;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.vf-navigation__menu-level-1 li div a:hover {
  text-decoration: none;
}
.vf-navigation__menu-level-1 li div span {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* expanded mobile */
.vf-navigation__menu-level-2,
.vf-navigation__menu-level-3,
.vf-navigation__menu-level-4 {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #fff;
  display: none;
}
.vf-navigation__menu-level-2 li div,
.vf-navigation__menu-level-3 li div,
.vf-navigation__menu-level-4 li div {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
}
.vf-navigation__menu-level-2 li div a,
.vf-navigation__menu-level-3 li div a,
.vf-navigation__menu-level-4 li div a {
  display: flex;
  align-items: center;
  width: calc(100% - 20px);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0px;
  color: black;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}
.vf-navigation__menu-level-2 li div a:hover,
.vf-navigation__menu-level-3 li div a:hover,
.vf-navigation__menu-level-4 li div a:hover {
  text-decoration: none;
}
.vf-navigation__menu-level-2 li div span,
.vf-navigation__menu-level-3 li div span,
.vf-navigation__menu-level-4 li div span {
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.vf-navigation__menu-level-1 > li > div {
  background: #fff;
  border-bottom: 1px solid #dcdddc;
}

.vf-navigation__menu-level-2 li div {
  background: #edf1f6;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-bottom: 1px;
}

.vf-navigation__menu-level-3 li div {
  margin-bottom: 1px;
  font-weight: normal;
  background: #f2f2f2;
}
.vf-navigation__menu-level-3 li div a {
  width: calc(100% - 33px);
  margin-left: 13px;
}

.vf-navigation__menu-level-4 li div {
  border: 1px solid #fff;
  background: #f2f2f2;
}
.vf-navigation__menu-level-4 li div a {
  width: calc(100% - 46px);
  margin-left: 26px;
}

.vf-navigation__menu-list-border {
  height: 53px;
}

/* search mobile */
.vf-navigation__search-box {
  display: none;

  .vf-navigation__icon-close-desktop {
    display: none;
  }
}
.vf-navigation__search-box.active {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 56px;
  height: 160px;
  background: #ebf2f3;
}
.vf-navigation__search-box input {
  font-family: VattenfallHallDisplay-Bold;
  text-indent: 10px;
  background: transparent;
  border: none;
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 36px;
  width: 91%;
  font-weight: bold;
  font-size: 30px;
  color: black;
}
.vf-navigation__search-box input:focus {
  outline: none;
}
.vf-navigation__search-box input::-webkit-input-placeholder {
  /* Edge */
  color: black;
}
.vf-navigation__search-box input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}
.vf-navigation__search-box input::placeholder {
  color: black;
}

/* default tablet */
@media only screen and (min-width: 668px) {
  /* search tablet */
  .vf-navigation__search-box input {
    width: 42vw;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .vf-navigation__search-box.active {
    right: 0;
    left: 0;
  }
}

/* default desktop */
@media only screen and (min-width: 1200px) {
  .vf-navigation {
    display: flex;
    background: #fff;
    overflow: unset;
    padding: 0;
    position: relative;
  }
  .vf-navigation__menu {
    display: flex;
    position: relative;
    font-size: 10px;
  }
  .vf-navigation__default {
    left: 0;
    right: 0;
    height: 60px;
    font-size: 18px;
  }
  .vf-navigation__default-inner {
    display: none;
  }
  .vf-navigation__logo-desktop {
    margin-right: 4em;
  }
  .vf-navigation__globe-desktop::before {
    font-size: 2em;
  }

  .vf-navigation__icon-search-desktop {
    margin-left: 1.6em;
  }

  .vf-navigation__icon-search-desktop::before {
    font-size: 2em;
    margin-top: 2px;
  }

  .vf-navigation__menu-level-1 {
    font-size: 1em;
    height: 6em;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
    border: none;
    width: 100%;
    background: #fff;
  }
  .vf-navigation__menu-level-1 > a {
    display: block;
  }
  .vf-navigation__menu-level-1 > a > img {
    display: inline-block;
    width: 18em;
  }
  .vf-navigation__menu-level-1 > span {
    margin-bottom: 0;
    display: block;
    padding: 0.8em;
  }

  .vf-navigation__menu-level-1 > span:hover {
    cursor: pointer;
  }

  .vf-navigation__menu-level-1 > {
    .vf-icon-globe.vf-navigation__globe-desktop:hover {
      transform: scale(1.3);
      transition: 0.4s;
    }

    .vf-navigation__icon-search-desktop:hover:before {
      transform: scale(1.3);
      transition: 0.4s;
    }
  }

  .vf-navigation__menu-level-1 > .vf-navigation__icon-search-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 6em;
    height: 6em;
    padding: 0;
  }

  .vf-navigation__menu-level-1 > li span {
    display: none;
  }
  .vf-navigation__menu-level-1 > li > div {
    background: transparent;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
  .vf-navigation__menu-level-1 > li > div {
    padding: 0;
    min-height: 6em;
  }
  .vf-navigation__menu-level-1 > li > div > a {
    display: flex;
    font-size: 1.8em;
    font-weight: 500;
    justify-content: center;
    text-decoration: none;
    padding: 0;
    margin: 0 calc(1.4em - 0.2px);
    width: 100%;
    height: 1.28em;
    line-height: 1.28em;
  }
  .vf-navigation__menu-level-1 > li > div > a:hover {
    color: #2071b5;
  }
  .vf-navigation__menu-level-1 > li.active > div {
    background: #edf1f6;

    > a {
      color: #2071b5;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .vf-navigation__globe-desktop {
    margin-left: calc(12.5em - 3em);
  }
}

/* expanded desktop */
@media only screen and (min-width: 1200px) {
  .vf-navigation__menu-list-item div a {
    text-align: center;
  }

  .vf-navigation__menu-list-item ul {
    display: none;
  }
  .vf-navigation__menu-list-item.active > ul {
    margin-left: 2em;
    margin-right: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 23px;
  }
  .vf-navigation__menu-list-item.active > .vf-navigation__menu-level-3 {
    margin-left: 0;
    margin-right: 0;
    min-height: 4.4em;
  }
  .vf-navigation__menu-list-border {
    position: absolute;
    top: 100%;
  }
  .vf-navigation__menu-level-2,
  .vf-navigation__menu-level-3,
  .vf-navigation__menu-level-4 {
    background: #edf1f6;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding-left: 21%;
    padding-right: 17%;
  }
  .vf-navigation__menu-level-2 li,
  .vf-navigation__menu-level-3 li,
  .vf-navigation__menu-level-4 li {
    height: 5.6em;
  }
  .vf-navigation__menu-level-2 li div,
  .vf-navigation__menu-level-3 li div,
  .vf-navigation__menu-level-4 li div {
    background: none;
    border: none;
    width: 100%;
    height: 100%;
  }
  .vf-navigation__menu-level-2 li div a,
  .vf-navigation__menu-level-3 li div a,
  .vf-navigation__menu-level-4 li div a {
    margin: calc((1em * 0.9) - 0.2px) calc((1em * 0.9) - 0.2px)
      calc((1em * 0.95) - 0.1px);
    font-size: 1.8em;
    font-weight: 500;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 1.28em;
    line-height: 1.28em;
    text-decoration: none;
  }
  .vf-navigation__menu-level-2 li div a:hover,
  .vf-navigation__menu-level-3 li div a:hover,
  .vf-navigation__menu-level-4 li div a:hover {
    color: #2071b5;
  }
  .vf-navigation__menu-level-2 > li.active > div > a,
  .vf-navigation__menu-level-3 > li.active > div > a,
  .vf-navigation__menu-level-4 > li.active > div > a {
    background: #edf1f6;
    color: #2071b5;
  }
  .vf-navigation__bottom-arrow {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
    border-bottom: 0.8em solid #fff;
    z-index: 100;
    visibility: hidden;
  }
  .vf-navigation__bottom-arrow.active {
    visibility: visible;
  }
  .vf-navigation__menu-level-2 li div {
    padding: 0;
    position: relative;
    margin: 0;
    min-height: 5.4em;
  }
  .vf-navigation__menu-level-3 {
    background: #fff;
    padding-left: 17.1em;
    padding-right: 16em;
    min-height: 4.4em;
    padding-top: 0.7em;
    padding-bottom: 0.9em;
    display: flex;
  }
  .vf-navigation__menu-level-3 > li {
    height: 3.6em;
  }
  .vf-navigation__menu-level-3 > li > div {
    min-height: 3.6em;
    height: 3.6em;
  }
  .vf-navigation__menu-level-3 > li > div a {
    font-weight: normal;
    font-size: 1.6em;
    height: 1.44em;
    line-height: 1.44em;
    margin: 0.375em 1.562em 0.437em;
    padding: 0;
  }
  .vf-navigation__menu-level-3 > li.active > div > a {
    background: #fff;
    color: #2071b5;
  }
  .vf-navigation__menu-list-item.active > .vf-navigation__menu-level-3 > ul {
    height: 8.8em;
  }
}

.vf-navigation__menu.scroll-level-2 > div.vf-navigation__default {
  visibility: hidden;
}

.vf-navigation__menu.scroll-level-2 > ul.vf-navigation__menu-level-1 {
  background: transparent;
  height: 0;
  > li > div {
    display: none !important;
  }

  > li > ul {
    padding: 0;
  }
}

.vf-navigation__menu.scroll-level-2 > ul.vf-navigation__menu-level-1 > a {
  display: none;
}

.vf-navigation__menu.scroll-level-2 > ul.vf-navigation__menu-level-1 > span {
  display: none;
}

.vf-navigation__menu.scroll-level-3 > div.vf-navigation__default {
  visibility: hidden;
}

.vf-navigation__menu.scroll-level-3 > ul.vf-navigation__menu-level-1 {
  background: transparent;
  > li > div {
    display: none !important;
  }
}

.vf-navigation__menu.scroll-level-3 > div.vf-navigation__default {
  visibility: hidden;
}

.vf-navigation__menu.scroll-level-3 > ul.vf-navigation__menu-level-1 {
  height: 0;
  > li > ul.vf-navigation__menu-level-2 {
    height: 0;
  }
}
.vf-navigation__menu.scroll-level-3
  > ul.vf-navigation__menu-level-1
  > li
  > ul.vf-navigation__menu-level-2
  > li
  > div {
  display: none !important;
}

.vf-navigation__menu.scroll-level-3 > ul.vf-navigation__menu-level-1 > a {
  display: none;
}

.vf-navigation__menu.scroll-level-3 > ul.vf-navigation__menu-level-1 > span {
  display: none;
}

/* search desktop */
@media only screen and (min-width: 1200px) {
  .vf-navigation__search-box {
    .vf-navigation__icon-close-desktop {
      display: block;
    }
  }

  .vf-navigation__search-box.active {
    font-size: 1em;
    display: flex;
    top: 6em;
    left: 0;
    right: 0;
    z-index: 10;
    height: 16em;

    .vf-navigation__icon-close-desktop::before {
      font-size: 2em;
    }
  }
  .vf-navigation__search-box.active > input {
    font-size: 5.2em;
    width: calc(10em + 32px);
    height: 72px;
  }
  .vf-navigation__icon-close-desktop {
    font-size: 1.111em;
    position: absolute;
    right: 66px;
    cursor: pointer;
  }
}
