$progress-height: 4px;

.vf-progress {
  margin: $spacing-sm 0;
  display: flex;
  height: $progress-height;
  background-color: $vattenfall-light-border-grey;
}

.vf-progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  white-space: nowrap;
  background-color: $vattenfall-button-blue;
}

.vf-progress--small {
  height: $progress-height / 2;
}
