@import "../../scss/variables";

.vf-tab-bar-container {

  *[hidden] {
    display: none;
  }

  *:focus {
    outline: none;
  }

  .vf-tab-bar {

    position: relative;
    display: flex;
    justify-content: center;

    //padding: 16px 22px;

    list-style: none;
    padding: 0;
    margin: 0;

    .vf-tab-bar-item {

      position: relative;
      flex-grow: 1;

      @include media-breakpoint-down(lg) {
        flex-grow: 0;
      }

      flex-basis: 0; //Equal length

      padding: 22px;
      background-color: $white;
      border-right: 1px solid $vattenfall-light-blue;
      box-shadow: 0 0px 0 0 transparent;
      transition: box-shadow .3s ease-in-out;;

      cursor: pointer;

      &:last-of-type {

        border: none;

      }

      @include media-breakpoint-down(lg) {

        align-items: center;
        color: $vattenfall-button-blue;


        &:before {

          //content is supplied by class as font icon. See _fonts.scss
          position: relative;
          width: 24px;
          height: 24px;
          font-size: $font-size-xl;

        }

      }

      &.vf-tab-bar-item--active {

        box-shadow: 0 3px 0 0 $vattenfall-mid-blue;

        @include media-breakpoint-down(lg) {

          color: $dark;

        }

        .vf-tab-bar-link {

          color: $dark;

        }

      }

      &.vf-tab-bar-item--disabled {

        cursor: not-allowed;

        @include media-breakpoint-down(lg) {

          color: $btn-disabled-color;

        }

        .vf-tab-bar-link {

          pointer-events: none;
          color: $btn-disabled-color;

        }

      }

      &:not(.vf-tab-bar-item--disabled):not(.vf-tab-bar-item--active) {

        @include media-breakpoint-down(lg) {

          &:hover {

            color: $vattenfall-mid-blue;

          }

        }

        .vf-tab-bar-link {

          &:hover {

            color: $vattenfall-mid-blue;

          }
        }
      }

      .vf-tab-bar-link {

        @include media-breakpoint-down(lg) {

          //(display:none;
          font-size: 0;

          &:before {
            left: 0 !important;
          }

        }

        display: flex;
        color: $vattenfall-button-blue;
        font-size: $font-size-base;
        font-weight: 500;
        letter-spacing: -0.05px;
        line-height: 28px;
        justify-content: center;
        align-items: center;

        &:hover {

          text-decoration: none;

        }

        &:before {
          //content is supplied by class as font icon. See _fonts.scss
          position: relative;
          width: 24px;
          height: 24px;
          left: -20px;
          top: 2px;
          font-size: $font-size-xl;

        }

      }
    }

    .vf-tab-bar-link-mobile {

      position: absolute;
      display: none;
      top: 94px;

      color: $dark;
      font-weight: 600;
      font-size: $font-size-md;
      letter-spacing: 0px;
      line-height: 24px;
      text-align: center;

      &.vf-tab-bar-link-mobile--active {

        @include media-breakpoint-down(lg) {

          display: block;
          cursor: default;

          &:hover {

            text-decoration: none;

          }
        }
      }

      &:before {

        content: none !important;

      }

    }
  }

  .vf-tab-bar-panels {

    padding-top: 35px;

    @include media-breakpoint-down(lg) {

      padding-top: 55px;

    }

  }
}
