.vf-file-upload__container,
.vf-file-upload--dragndrop {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;

  input[type='file'] {
    display: none;
  }

  span {
    // line-height: 28px;
    line-height: 0;
  }
  // Upload your...
  span:nth-child(1) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .vf-file-upload__span--up-to-size {
    color: #999999;
    font-size: 14px;
    margin-bottom: 20px;
  }
  // Error text...
  span:nth-child(3) {
    line-height: 14px;
    font-size: 14px;
  }

  .errorBorder {
    border-color: #f93b18;
  }

  .errorText {
    color: #f93b18;
  }

  label {
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 28px;
    transition: all 0.4s ease;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 180px;
      transition: all 0.4s ease;
    }
    img {
      height: 12px;
      line-height: 10px;
      margin: 0 4px;
      cursor: pointer;
    }
    .disabled {
      color: $btn-primary-color-disabled;
      background-color: $btn-primary-bg-disabled;
    }
    .errorText {
      color: #f93b18 !important;
    }
    .vf-icon-span {
      line-height: 10px;
      margin: 0 0 0 10px;
      cursor: pointer;
    }
    .vf-icon-span::before {
      font-size: 16px;
    }
  }
}

.vf-file-upload--dragndrop {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #999999 dashed thin;
  padding: 28px 0;
  span:nth-child(3) {
    margin-bottom: 10px;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 28px;
    transition: all 0.4s ease;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 0;
      margin: 0;
      width: 180px;
      transition: all 0.4s ease;
    }
  }
  .disabled {
    color: $btn-primary-color-disabled;
    background-color: $btn-primary-bg-disabled;
  }
  .errorText {
    color: #f93b18;
  }
  .vf-icon-span {
    line-height: 10px;
    margin: 0 0 0 10px;
    cursor: pointer;
  }
  .vf-icon-span::before {
    font-size: 16px;
    padding: 5px;
  }
}

.is-dragover {
  border: #1964a3 dashed thin;
}

.box__dragndrop {
  display: none;
}

.vf-file-upload__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(235, 242, 243);
  margin: 28px 0;
}

.vf-file-upload__icon::before {
  font-size: 80px;
}
