// Contains overrides for documentation/ant styles

p { 
  font-size: 16px;
  letter-spacing: -0.05px;
  line-height: 28px;
}

#main {
  h1, h2, h3, h4, h5, h6 {
    color: #222222;
  }

  h2 {
    color: #222222;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 32px;
  }
}
.ant-drawer-body {
  padding-left: 0;
  padding-right: 0;
  overflow: unset;
}
.ant-menu-inline .ant-menu-selected::after, .ant-menu-inline .ant-menu-item-selected::after {
  border-right-color: #1964A3;
}
.ant-menu-horizontal > .ant-menu-item {
  min-width: 72px;
  height: 64px;
  line-height: 60px;
  border-top: 2px solid transparent;
}
.ant-menu-horizontal > .ant-menu-item:hover {
  border-bottom: 2px solid transparent;
  border-top: 2px solid #1964A3;
}

.ant-menu-horizontal > .ant-menu-item:hover a {
  color: #222222;
  text-decoration: none;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 2px solid transparent;
  border-top: 2px solid #1964A3;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: inherit;
}
.ant-menu-item > a, .ant-menu-horizontal > .ant-menu-item > a {
  color: #2071B5;
}
.ant-menu-item > a:hover {
  color: #222222;
  text-decoration: none;
}
.ant-menu-item-selected a, .ant-menu-horizontal > .ant-menu-item-selected > a {
  color: #222222;
}
.ant-menu-item-group-title {
  color: rgba(0,0,0,.45);
  line-height: 1.5715;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 13px;
  padding: 8px 16px 8px 24px;
}
.ant-drawer-close {
  padding: 8px 8px 16px 16px;
}
.ant-drawer-close:focus {
  outline: none;
}

.ant-menu-inline>.ant-menu-item-group>.ant-menu-item-group-title::after {
  position: relative;
  top: 12px;
  display: block;
  width: calc(100% - 20px);
  height: 1px;
  background: rgba(0,0,0,0.1);
  content: '';
}

.ant-drawer-left.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: none;
}
