.news-outer-container {
  margin-top: 50px;
  @include media-breakpoint-up (sm) {
    margin-top: 300px;
  }
}
.news-inner-container {
  position: relative;
  top: -66px;

  @include media-breakpoint-up (sm) {
    top: -220px;
  }

  @include media-breakpoint-up (sm) {
    max-height: 430px;
  }
  @include media-breakpoint-down (sm) {
    max-height: calc(100% + 520px);
  }

  @include media-breakpoint-up (lg) {
    max-height: 400px;
  }

  @include media-breakpoint-up (xl) {
    max-height: 450px;
  }
}