.news-outer-container {
  margin-top: 300px;

  @include media-breakpoint-up (sm) {
    max-height: 450px;
  }
}
.news-inner-container {
  @include media-breakpoint-up (sm) {
    position: relative;
    top: -220px;
  }
}